<!DOCTYPE html>
<html >
<head>
	<title>My App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
	<h1>Welcome to My Favorite Songs!!!</h1>
	<form class='well container form-inline' id='newSongForm'>
		<input class='form-control' placeholder='Title...' id='songTitle'>
		<input class='form-control' placeholder='Artist...' id='songArtist'>
		<input class='form-control' placeholder='Genre...' id='songGenre'>
		<input type='hidden'  id='editSong'>
    <button type='submit' class='btn btn-info'>Submit</button>
	</form>



	<div id='songs'>
	</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Enter What you Like!!!</h4>
      </div>
      <div class="modal-body">
        <h1>Title</h1>
				<input class="form-control" id='editTitle' placeholder='Title...'>
				<h1>Artist</h1>
				<input class="form-control" id='editArtist' placeholder='Artist...'>
				<h1>Genre</h1>
				<input class="form-control" id='editGenre' placeholder='Genre...'>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <span id='saveEditButton'></span>
      </div>
    </div>
  </div>
</div>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/javascript/app.js"></script>
</body>
</html>
